{% extends 'layout.html' %}


{% block content %}
<div class="content">
<h1>Trading volumes for Markets</h1>
<canvas id="myChart"></canvas>
<canvas id="marketPercent"></canvas>
<script type="text/javascript">
	
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["{{data.0.venueName}}","{{data.1.venueName}}",
         "{{data.2.venueName}}", "{{data.3.venueName}}",
          "{{data.4.venueName}}", "{{data.5.venueName}}",
           "{{data.6.venueName}}","{{data.7.venueName}}",
           "{{data.8.venueName}}","{{data.9.venueName}}",
           "{{data.10.venueName}}","{{data.11.venueName}}",
            "{{data.12.venueName}}","{{data.13.venueName}}",
            "{{data.14.venueName}}"],
        datasets: [{
            label: "Volume",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{{data.0.volume}}, {{data.1.volume}},
            {{data.2.volume}}, {{data.3.volume}},
            {{data.4.volume}}, {{data.5.volume}},
            {{data.6.volume}}, {{data.7.volume}},
            {{data.8.volume}}, {{data.9.volume}},
            {{data.10.volume}},{{data.11.volume}},
            {{data.12.volume}},{{data.12.volume}},
            {{data.14.volume}}],
        },
            ]
    },

    // Configuration options go here
    options: {}
});
var ctx2 = document.getElementById('marketPercent').getContext('2d');
var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        // Maybe use django for loop for this
        labels: ["{{data.0.venueName}}","{{data.1.venueName}}",
         "{{data.2.venueName}}", "{{data.3.venueName}}",
          "{{data.4.venueName}}", "{{data.5.venueName}}",
           "{{data.6.venueName}}","{{data.7.venueName}}",
           "{{data.8.venueName}}","{{data.9.venueName}}",
           "{{data.10.venueName}}","{{data.11.venueName}}",
            "{{data.12.venueName}}","{{data.13.venueName}}",
            "{{data.14.venueName}}"],
        datasets: [{
            label: "Market Percent",
            backgroundColor: 'rgb(0, 0, 255)',
            borderColor: 'rgb(0, 0, 255)',
            data: [{{data.0.marketPercent}}, {{data.1.marketPercent}},
            {{data.2.marketPercent}}, {{data.3.marketPercent}},
            {{data.4.marketPercent}}, {{data.5.marketPercent}},
            {{data.6.marketPercent}}, {{data.7.marketPercent}},
            {{data.8.marketPercent}}, {{data.9.marketPercent}},
            {{data.10.marketPercent}},{{data.11.marketPercent}},
            {{data.12.marketPercent}},{{data.12.marketPercent}},
            {{data.14.marketPercent}}],
        },
            ]
    },

    // Configuration options go here
    options: {}
});

</script>
</div>
{% endblock content %}
