{% extends 'layout.html' %}


{% block content %}
<div class="content">
<h1>Company information</h1>
<div class="jumbotron">
    <p>Here you can find information about various public companies.</p>
    <h4 class="name">Usage</h4>
    <p>Input the company symbol(ticker) and click "Submit Query"</p>
</div>
<h3>Company ticker:</h3>
<form action="{% url 'company' %}" method="post">
    {% comment %} {% csrf_token %} {% endcomment %}
    <input type="text" name="ticker" placeholder="Ticker eg. AAPL">
    {% if user.is_authenticated %}
    <h3>Tickers from Portfolio</h3>
        <select name="ticker">
            {% for trans in user.transactions %}
                <option value="{{trans.shortname}}">{{trans.shortname}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <br>
    <input type="submit" class="btn btn-primary btn-spacing">
</form>

{% if error_msg %}
    <p>{{error_msg}}</p>
{% endif %}
</div>
{% endblock content %}