{% extends 'layout.html' %}


{% block content %}
<div class="content">
<h1>Company information</h1>
<div class="jumbotron">
    <p>Here you can find information about various public companies.</p>
    <h4 class="name">Usage</h4>
    <p>Input the company ticker symbol and click "Submit Query"</p>
</div>

{% if user.is_authenticated %}
<button class="btn btn-primary btn-spacing manual_button">Toggle manual input</button>
{% endif %}
<form action="{% url 'company' %}" method="post">
    {% comment %} {% csrf_token %} {% endcomment %}
    <h3>Company ticker symbol:</h3>
    <input type="text" name="ticker" placeholder="Ticker symbol eg. AAPL">
    {% if user.is_authenticated %}
    <br>
    

    <script>
        	var add_button      = $(".manual_button"); //Add button ID
	
        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
        if(document.getElementById("tickerSelect").disabled == true){
            document.getElementById("tickerSelect").disabled = false;
        }else{
            document.getElementById("tickerSelect").disabled = true;
        }
        
        });
    </script>
    <h4 style="margin-top: 1%;">OR</h4>
    <h3>Tickers from Portfolio</h3>
        <select name="ticker" id="tickerSelect" disabled="false"></select>
                    <script>
                function onlyUnique(value, index, self) { 
                    return self.indexOf(value) === index;
                }

                let shorts = [];
                {% for trans in user.transactions %}
                    shorts.push("{{trans.shortname}}")
                {% endfor %}

                let unique = [...new Set(shorts)]; 
                let select, option;

                select = document.getElementById('tickerSelect');

                unique.forEach(element => {
                    option = document.createElement('option');
                    option.value = option.text = element;
                    select.add( option );
                });
            </script>
    {% endif %}
    <br>
    <input type="submit" class="btn btn-primary btn-spacing">
</form>

{% if error_msg %}
    <p>{{error_msg}}</p>
{% endif %}
</div>
{% endblock content %}