{% extends 'layout.html' %}

{% block content %}
<div class="company-info">
<!-- TODO: Layout change -->
{% if company %}
    <h1>Company information</h1>
    <div class="content">
        <img src="{{logo.url}}" alt="Logo" style="width: 10%;height: 10%">
    </div>
    <p><div class="company-info section">Name:</div> {{company.companyName}}</p> 
    <p><div class="company-info section">Company symbol:</div> {{company.symbol}}</p> 
    <p><div class="company-info section">Description:</div> {{company.description}}</p> 
    <p><div class="company-info section">Exchange:</div> {{company.exchange}}</p> 
    <p><div class="company-info section">CEO:</div> {{company.CEO}}</p>
    <p><div class="company-info section">Sector:</div> {{company.sector}}</p>

{% endif %}


{% if news %}
    <h1>News about the company</h1>
    <hr>
    {% for story in news %}
        <h4>{{story.headline}}</h4>
        <div class="company-info section">Summary:</div> <p>{{story.summary}}</p>
        <div class="company-info section">Source:</div> <p>{{story.source}}</p>
        <hr>
    {% endfor %}
{% endif %}

</div>
{% endblock content %}