{% extends 'layout.html' %}

{% block content %}
<div class="content">
        <h1>Features</h1>
        <p>Here you can see what we offer:</p>
        <ul>
            <li>Information about companies that are listed on stock exchanges.</li>
            <li>Information about volume of trades on various markets.</li>
            <li>Information about rates of return of single stocks and portfolios.</li>
            <li>Predicting stock prices using linear regression.</li>
            <li>Using Monte Carlo simulation for stock prices prediction.</li>
        </ul>
</div>

{% endblock content %}