<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trades and Stocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import Vue.js REPLACE THIS WITH A PRODUCTION VERSION WHEN DONE-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% load static %}

    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Bootstrap JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    {% comment %} Bokeh {% endcomment %}
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
    {% comment %} <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css"
        rel="stylesheet" type="text/css"> {% endcomment %}

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    {% comment %} <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script> {% endcomment %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-chart-line"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'features' %}">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'simulator' %}">Simulator</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <!-- <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "image/logo.png" %}" alt="" id="logo_img"></a> -->
            </ul>
                {% if user.is_authenticated %}
                  <span class="nav-item navbar-text">
                    <a class="nav-link" href="{% url 'profile' %}">Hello {{ user.username }}</a>
                  </span>
                  <span class="nav-item">
                    <a class="nav-link" href="{% url 'logout_view' %}">Logout </a>
                  </span>
                {% else %}
                  <span class="nav-item navbar-text">
                    Not logged in.
                  </span>
                  <span class="nav-item">
                    <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
                  </span>

                  <span class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup </a>
                  </span>                
                {% endif %}
        </div>
    </nav>

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Trades and Stocks.</h1>
  <p class="lead">Welcome to Trades and Stocks. Place where you can perform advanced stock market analysis and test them in our simulator.</p>

</div>
<div class="mx-auto" style="width:80%">
<div class="menu-container">
{% comment %} TODO: ew. zmienić tekst i tło w szesciokatach na customowa grafike
tak jak we wzorze(builtbybuffalo) {% endcomment %}
  <!-- TODO: Fix ids in hexagon elements - do not use nav-work, nav-about etc. -->
  {% comment %} TODO: Tekst w szesciokatach powinien swieci tak jak w tych pierwszych {% endcomment %}
  <div class="hex-wrapper">
    <div class="hex-row shift">
      <div class="hexagon" id="nav-home">
        <a href="{% url 'tickers' %}" >Tickers</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        
        <a href="{% url 'chart' %}" >Markets</a>
        {% comment %} About {% endcomment %}
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        
        <a href="{% url 'company' %}" >Company</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
    </div>
    <div class="hex-row">
      <div class="hexagon" id="nav-work">
        <a href="{% url 'monte_carlo_sim' %}" >Monte Carlo</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        <a href="{% url 'linear_regression' %}" >Linear Regression</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        <a href="{% url 'rate_portfolio' %}" >Portfolio</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        <a href="{% url 'rate_single' %}" >Single Rate</a>
        <div class="face1"></div>
        <div class="face2"></div>
    </div>
    </div>


  </div>
</div>
</div>
<footer>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.</footer>

{% endblock content %}




</body>
</html> 