{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static "image/carousel/carousel1.jpg" %}"
      alt="First slide" width="400px" height="400px">
      <div class="carousel-caption d-none d-md-block cblock">
        <h3>
          <a class="clink" href="{% url 'features' %}">Check out what we can do.</a>
        </h3>  
      </div>
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static "image/carousel/carousel2.jpg" %}"
      alt="Second slide" width="400px" height="400px">
      <div class="carousel-caption d-none d-md-block cblock">
        <h3>
            <a class="clink" href="{% url 'about' %}">Learn more about us.</a>  
        </h3>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="{% static "image/carousel/carousel3.jpg" %}"
      alt="Third slide"  width="400px" height="400px">
      <div class="carousel-caption d-none d-md-block cblock"> 
        <h3>
            <a class="clink" href="{% url 'simulator' %}">Take a look at our simulator.</a> 
        </h3>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Trades and Stocks.</h1>
  <p class="lead">Welcome to Trades and Stocks. Place where you can perform advanced stock market analysis and test them in our simulator.</p>

</div>
<div class="mx-auto" style="width:80%">
<div class="menu-container">

  <div class="hex-wrapper">
    <div class="hex-row shift">
      <div class="hexagon" id="nav-home">
        <a href="{% url 'tickers' %}" >Tickers</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        
        <a href="{% url 'markets' %}" >Markets</a>
        {% comment %} About {% endcomment %}
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        
        <a href="{% url 'company' %}" >Companies</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
    </div>
    <div class="hex-row">
      <div class="hexagon" id="nav-work">
        <a href="{% url 'monte_carlo_sim' %}" >Monte Carlo</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        <a href="{% url 'linear_regression' %}" >Linear Regression</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        <a href="{% url 'rate_portfolio' %}" >Portfolio</a>
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-work">
        <a href="{% url 'rate_single' %}" >Single Rate</a>
        <div class="face1"></div>
        <div class="face2"></div>
    </div>
    </div>


  </div>
</div>
</div>
<footer>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.</footer>

{% endblock content %}


