{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <h1>Linear Regression</h1>
    <div class="jumbotron">
    <p>Here you can perform stock prices prediction using linear regression. This technique is great for estimating general trend in stock price.</p>
    <h4 class="name">Usage</h4>
    <p>Input the company ticker symbol and date for period from which data you want to analyze. The longer the better (Minimum 1 year).</p>
    </div>
    {% if user.is_authenticated %}
<button class="btn btn-primary btn-spacing manual_button">Toggle manual input</button>
{% endif %}
        <form action="{% url 'linear_regression' %}" method="post">
            {% csrf_token %}
            <h3>Company ticker symbol:</h3>
            <input type="text" name="ticker" placeholder="Ticker symbol eg. AAPL">
            {% if user.is_authenticated %}
                <script>
        	var add_button      = $(".manual_button"); //Add button ID
	
        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
        if(document.getElementById("tickerSelect").disabled == true){
            document.getElementById("tickerSelect").disabled = false;
        }else{
            document.getElementById("tickerSelect").disabled = true;
        }
        
        });
    </script>
            <h4 style="margin-top: 1%;">OR</h4>
            <h3>Ticker symbols from Portfolio</h3>
                <select name="ticker" id="tickerSelect"></select>
            <script>
                function onlyUnique(value, index, self) { 
                    return self.indexOf(value) === index;
                }

                let shorts = [];
                {% for trans in user.transactions %}
                    shorts.push("{{trans.shortname}}")
                {% endfor %}

                let unique = [...new Set(shorts)]; 
                let select, option;

                select = document.getElementById('tickerSelect');

                unique.forEach(element => {
                    option = document.createElement('option');
                    option.value = option.text = element;
                    select.add( option );
                });
            </script>
            {% endif %}
            <h3>Start date:</h3>
            <input type="date" name="start" placeholder="Start date">
            <h3>End date:</h3>
            <input type="date" name="end" placeholder="End date">
            <br>
            <input type="submit" class="btn btn-primary btn-spacing">
        </form>
        
    {% if error_msg %}
        <p>{{error_msg}}</p>
    {% endif %}
</div>
{% endblock content %}