{% extends 'index.html' %}

{% block content %}

<h1>Monte Carlo Simulation</h1>

<h2>{{ user.username }}</h2>
<hr>
<h2>{{ ticker }}</h2>
<hr>

    <form action="{% url 'monte_carlo_sim' %}" method="post">
        {% csrf_token %}
        <h3>Company ticker:</h3>
        <input type="text" name="ticker" placeholder="Ticker eg. AAPL">
        {% if user.is_authenticated %}
            <h3>Tickers from Portfolio</h3>
                <select name="ticker">
                    {% for trans in user.transactions %}
                        <option value="{{trans.shortname}}">{{trans.shortname}}</option>
                    {% endfor %}
                </select>
        {% endif %}
        <h3>Start date:</h3>
        <input type="date" name="start" placeholder="Start date">
        <h3>End date:</h3>
        <input type="date" name="end" placeholder="End date">

        {% comment %} {{ the_div|safe }}

        {{ the_script|safe }} {% endcomment %}
        <input type="submit" class="btn btn-primary">
    </form>

{% if error_msg %}
    <p>{{error_msg}}</p>
{% endif %}

{% endblock content %}