{% extends 'layout.html' %}

{% block content %}
<div class="content">
<h1>Monte Carlo Simulation</h1>


<h2 class="name">{{ ticker }}</h2>
<hr>

{% if error_msg %}
    <p>{{error_msg}}</p>
{% else %}

    <img src="data:image/png;base64, {{ graph }}" alt="">
    <hr>
    <h4 class="name">Period of data used for simulation</h4>
    <p><div class="name">Beggining date: </div>{{ start }}</p>
    <p><div class="name">End date: </div>{{ end }}</p>

    <h4 class="name">Last Price Statistics</h4>
    <p><div class="name">Mean Value: </div>{{ mean }}</p>
    <p><div class="name">Maximum Value: </div>{{ max }}</p>
    <p><div class="name">Minimum Value: </div>{{ min }}</p>
    <p><div class="name">Standard Deviation: </div>{{ std }}</p>

    <h4 class="name">Simulation Statistics</h4>
    <p><div class="name">Number of Simulations: </div>{{ desc.0 }}</p>
    <p><div class="name">Mean Value: </div>{{ desc.1 }}</p>
    <p><div class="name">Standard Deviation: </div>{{ desc.2 }}</p>
    <p><div class="name">Minimal Price: </div>{{ desc.3 }}</p>
    <p><div class="name">Maximal Price: </div>{{ desc.7 }}</p>
{% endif %}



</div>
{% endblock content %}