{% extends 'layout.html' %}

{% block content %}
<div class="content">
<h1>Profile</h1>

<h2>{{ user.username }}</h2>
<h4><div class="name">Email:</div> {{user.email}}</h4>
<h4><div class="name">Funds:</div> {{user.funds}} $</h4>

<h3> <div class="name">Simulator Transactions History</div> </h3>
        {% for trans in user.transactions %}
            <hr>
            <p><div class="name">Company: </div> {{trans.shortname}}</p>
            <p><div class="name">Amount of stocks: </div> {{trans.units}}</p>
            <p><div class="name">Price per unit: </div> {{trans.unitprice}}</p>
        {% endfor %}
</div>
{% endblock content %}