{% extends 'layout.html' %}


{% block content %}
<div class="content">
<h1>Portfolio</h1>
<div class="jumbotron">
    <p>Portfolio rate of return price change of portfolio of stocks over the time period. Rate of return is calculated for stocks of equal weights in a portfolio.</p>
    <h4 class="name">Usage</h4>
    <p>Input the companies ticker symbols and dates of a period you want to analyze.</p>
</div>
<script>
$(document).ready(function() {
	var max_fields      = 10; //maximum input boxes allowed
	var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
	var add_button      = $(".add_field_button"); //Add button ID
	
	var x = 1; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
			x++; //text box increment
			$(wrapper).append('<div><input  style="margin-left:15px;" type="text" name="tickers[]"/><a href="#" id="remove_field"><i  class="far fa-trash-alt"></i></a></div>'); //add input box
		}
	});
	
	$(wrapper).on("click","#remove_field", function(e){ //user click on remove text
		e.preventDefault(); $(this).parent('div').remove(); x--;
	})
});
</script>
    <form action="{% url 'rate_portfolio' %}" method="post">
        {% csrf_token %}
        <h3>Companies ticker symbols:</h3>
                
        <div class="input_fields_wrap">
            
            <div ><input type="text" name="tickers[]"></div>

        </div>
        <button class="btn btn-primary btn-spacing add_field_button">Add More Fields</button>
        <h3>Start date:</h3>
        <input type="date" name="start" placeholder="Start date">
        <h3>End date:</h3>
        <input type="date" name="end" placeholder="End date">

        <br>
        <input type="submit" class="btn btn-primary btn-spacing" value="Confirm">
    </form>
{% if error_msg %}
    <p>{{error_msg}}</p>
{% endif %}
</div>
{% endblock content %}