{% extends 'layout.html' %}

{% block content %}
<div class="content">
<h1>Single Stock Rate of Return </h1>
<div class="jumbotron">
    <p>Rate of return shows how stock price changed over the time period.</p>
    <h4 class="name">Usage</h4>
    <p>Input the company symbol(ticker) and dates of a period you want to analyze.</p>
</div>
<form action="{% url 'rate_single' %}" method="post">
    {% csrf_token %}
    <h3>Company ticker:</h3>
    <input type="text" name="ticker" placeholder="Ticker eg. AAPL">
    
    {% if user.is_authenticated %}
    <h3>Tickers from Portfolio</h3>
        <select name="ticker">
            {% for trans in user.transactions %}
                <option value="{{trans.shortname}}">{{trans.shortname}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <h3>Start date:</h3>
    <input type="date" name="start" placeholder="Start date">
    <h3>End date:</h3>
    <input type="date" name="end" placeholder="End date">


    <br>
    <input type="submit" class="btn btn-primary btn-spacing">
</form>

{% if error_msg %}
    <p>{{error_msg}}</p>
{% endif %}
</div>
{% endblock content %}