{% extends 'layout.html' %}

{% block content %}
<div class="content">
<div class="signup-div">
<h1>Sign Up</h1>
<div class="jumbotron">
    <p>All fields are required.</p>
    <p>Default broker is Bank of America. You can change it in a simulator client.</p>
</div>
{% comment %} <hr> {% endcomment %}


<form method="POST" class="signup-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-dark">Submit</button>
</form>

{% if error_msg %}
    <p>{{error_msg}}</p>
    
{% endif %}
</div>
</div>
{% endblock content %}