{% extends 'index.html' %}

{% block content %}

<h1>Sign Up</h1>
<!-- <h3></h3>
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="password" name="password" placeholder="Password">


    <input type="submit" class="btn btn-primary">
</form> -->
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Submit</button>
</form>

{% if error_msg %}
    <p>{{error_msg}}</p>
{% endif %}

{% endblock content %}