{% extends 'layout.html' %}


{% block content %}
<script>
    // For parsing json response
    let True = true
    let False = false
    
    
    let jsonObject = {{ tickers | safe }};
</script>



<div id="app-3">
    <div class="content">
        <h1>Ticker Symbols</h1>
        <div class="jumbotron">
            <p>Here you can look up company names and their ticker symbols.</p>
        </div>
        <button v-on:click="removeRange" class="btn btn-dark" style="width:48px;%"><</button>
        <button v-on:click="addRange" class="btn btn-dark" style="width:48px;%">></button>

        <div v-for='i in range'>
            [[ getData(i) ]]
            <div class="square">
                <div class="sq-content">              
                    <p><div class="name">Ticker: </div> [[ message.symbol ]]</p>
                    <p><div class="name">Name: </div> [[ message.name ]] </p>
                    <!-- <p><div class="name">Last Updated: </div>[[ message.date ]] </p> -->
                </div>  
            </div>
        </div>
    </div>
</div>

<script src="./static/js/tickers.js">

</script>






{% endblock content %}