{% extends 'index.html' %}

{% block content %}
<script>
    // For parsing json response
    let True = true
    let False = false
    
    
    let jsonObject = {{ tickers | safe }};
</script>

<h1>Tickers</h1>



<div id="app-3">
    <!-- TODO: Add check for beg to be 0 and end to be max value -->
    <button v-on:click="removeRange" class="btn btn-default"><</button>
    <button v-on:click="addRange" class="btn btn-default" >></button>
    <div v-for='i in range'>
        [[ getData(i) ]]
        Ticker: [[ message.symbol ]] <br/>
        Name: [[ message.name ]] <br/>
        Last Updated: [[ message.date ]] <br/>
        <hr/>
    </div>
</div>

<script src="./static/js/tickers.js">

</script>






{% endblock content %}